/* html{
    background-color: rgb(170, 170, 170);
    background-size: cover;
    background-attachment: fixed;
    
}
#fondo{
    background-color: rgb(170, 170, 170);
    background-size: cover;
    background-attachment: fixed;
} */
html, body{
    /* background-color: rgb(243,242,242); */
    height: 100%;
    margin-bottom: 10px;
    display: block;
    
}