<app-registrar *ngIf="modalservice.modal"></app-registrar>
<app-asesoria *ngIf="modalservice.asesoria"></app-asesoria>
<app-accion *ngIf="modalservice.action && clienteSeleccionado" [cliente]="clienteSeleccionado"></app-accion>


<div class="btn-group mb-5 " role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="buscarNav()">Buscar</button>
  <button type="button" class="btn btn-secondary" (click)="todos()">Todos</button>

</div>


<div  style="margin-bottom: 5px;">
    <div class="card-header bg-transparent" style="margin-bottom: 10px;">
        <div class="row">
            <div class="col">
                <h3>Contactos</h3>
            </div>

            <div class="col text-start" style="align-self: flex-start;">
                <a (click)="cambiarCondicion()" class="btn" style="font-size: 80%;">Filtrar
                    <i class="fa-solid fa-filter fa-sm" type="button"></i>
                </a>
            </div>
            <div class="col text-end">
                <button  class="btn btn-success" id="button-add" (click)="abrirModal()" >+Agregar Cliente</button>
            </div>
        </div>
        <div class="row"  >
            <div class="col" *ngIf="value">
                <label >
                    <select (click)="filtroPorGenero()" [(ngModel)]="genero" class="form-select"
                        aria-label="Default select example" >
                        <option [ngValue]="undefined" >--- Seleccionar Tipo---</option>
                        <option value="MALE" >Masculino</option>
                        <option value="FEMALE" >Femenino</option>
                        <option value="LGBTQ" >LGBTQ+</option>
                    </select>
                </label>
            </div>
            <div class="col" *ngIf="value">
                <label >
                    <select (click)="filtroPorType()" [(ngModel)]="type" class="form-select"
                        aria-label="Default select example" >
                        <option [ngValue]="undefined" >--- Seleccionar Tipo---</option>
                        <option value="entrepreneur" >Emprendedor</option>
                        <option value="businessman" >Empresario</option>
                    </select>
                </label>
            </div>
            <div class="col" *ngIf="value">
                <label >
                    <select (click)="filtrarPorMunicipio()"  [(ngModel)]="municipio" class="form-select form-select-sm" name="municipio"
                    aria-label="Default select example" >
                    <option [ngValue]="undefined" >--- Seleccionar Municipio---</option>
                    <option *ngFor="let m of municicipios" [ngValue]="m.id">{{m.name}} || {{m.country}}</option>
                    </select>
                </label>
            </div>
            <div class="col" *ngIf="value">
                <button  class="btn btn-success" style="border-radius: 1em;" (click)="reiniciarFiltro()">Reinicar Filtros</button>
            </div>
            <div class="col" *ngIf="value">
              <input (keyup)="buscar()"  [(ngModel)]="termino" type="text" class="form-control" placeholder="Buscar" >
            </div>

    </div>
</div>



<div class="table-container">
    <table class="table table-sm"  *ngFor="let client of clients">
        <thead>
            <tr>
                <td style="width: 20%; font-size: 10px;" class="align-middle"> Nombre</td>
                <td style="width: 20%; font-size: 10px;" class="align-middle"> Empresa/Idea</td>
                <td style="width: 20%; font-size: 10px;" class="align-middle"> CIIU/Servicio</td>
                <td style="width: 20%; font-size: 10px;" class="align-middle"> Municipio</td>
                <td style="width: 20%; font-size: 10px; text-align: center;" class="align-middle"> Tipo de Cliente</td>
                <td style="text-align: center; width: 5%; font-size: 10px;" class="align-middle"> Acciones</td>
            </tr>
        </thead>
        <tbody  class="table-sm" style="margin-top: 0;">
            <tr>
                <th style="width: 20%;" >{{client.name}} {{client.lastName}}</th>
                <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">{{client.businessIdea}}</th>
                
                <th style="width: 20%;"  *ngIf="client.type ==='businessman'">{{client.companyName}}</th>
             
                <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">{{client.product}}</th>
                <th style="width: 20%;"  *ngIf="client.type ==='businessman'">CIIU N° {{client?.ciiu?.id}}</th>
               
                <th style="width: 20%;" >{{client?.municipio?.name}}</th>
    
                <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">
                    <button id="button" class="btn btn-disabled"
                        style=" background-color: red; color: white; width: 100%;">Emprendedor</button>
                </th>
                <th style="width: 20%;"  *ngIf="client.type ==='businessman'">
                    <button id="button" class="btn btn-disabled"
                        style=" background-color: rgb(136, 0, 0); color: white; width: 100%;">Empresario</button>
                </th>
               
                <th *ngIf="client.type!==null"  style="text-align: center; width: 5%;">
                    <i class="fa-solid fa-pen-to-square" type="button" (click)="abrirModalAction(client)"></i>
                </th>
            </tr>
        </tbody>
    </table>
    <app-paginator *ngIf="paginador && !value" [paginador]="paginador"></app-paginator>
</div>

