
  #button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    width: 55%;
  }
  #button-add{
    align-items: flex-end;
    border-collapse: collapse;
    border-radius: 1em;
    margin-bottom: 5px;
    position: relative;
    right: 0;
    text-align: center center;
  }



