<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Presupuesto de Compras</h4>
        <div class="centered-col">
            <h5 class="centered-heading">Consumo Materia Prima por Producto</h5>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col-6">
                            <table class="excel-table" style="font-size: small;">
                                <tr>
                                    <th style="width: 50%;">Producto</th>
                                    <td class="autorellenadas"></td>
                                </tr>
                                <tr>
                                    <th style="width: 50%;">Unidad de Producción</th>
                                    <td class="autorellenadas"></td>
                                </tr>
                            </table>
                        </div>
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>Materias Primas</th>
                                        <th>Unidad de Medida</th>
                                        <th>Valor Unitario</th>
                                        <th>Cantidad por Unidad</th>
                                        <th>Total Costo Unit.</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of elementos">
                                        <td><input type="text" [(ngModel)]="item.item1"></td>
                                        <td><input type="text" [(ngModel)]="item.item2"></td>
                                        <td><input type="text" [(ngModel)]="item.item3"></td>
                                        <td><input type="text" [(ngModel)]="item.item4"></td>
                                        <td class="autorellenadas">$</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="add-row">
                                            <a (click)="agregarFila()" class="btn mt-2">Agregar <i
                                                    class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">Total</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="centered-col">
                <h5 class="centered-heading">Unidades a Producir</h5>
            </div>
            <div class="col centered-col">
                <div class="table-container">
                    <table class="excel-table">
                        <thead style="text-align: center;font-size: small;">
                            <tr>
                                <th>Producto</th>
                                <th>Unidades Año 1</th>
                                <th>Costo Unitario</th>
                                <th>Costo Total Año 1</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;font-size: small;">
                            <tr>
                                <td class="autorellenadas" style="width: 13%;"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th> </th>
                                <th>$ </th>
                                <th>$ </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center; margin-top: 10px;">
                <h4>INCREMENTO EN % DEL PRECIO</h4>
            </div>
            <div class="col centered-col">
                <div class="table-container">
                    <table class="excel-table">
                        <thead style="text-align: center;font-size: small;">
                            <tr>
                                <th>Periodo</th>
                                <th>IPC/ Inflación %</th>
                                <th>Base + IPC</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;font-size: small;">
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">AÑO 2</td>
                                <td style="width: 5%;"><input type="text"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;"> AÑO 3</td>
                                <td style="width: 5%;"><input type="text"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">AÑO 4</td>
                                <td style="width: 5%;"><input type="text"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">AÑO 5</td>
                                <td style="width: 5%;"><input type="text"></td>
                                <td class="autorellenadas" style="width: 13%;"></td>
                            </tr>
    
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>