<div class="row">
  <div class="col-2">
    <app-client-details></app-client-details>
  </div>
  <div class="col-10">
    <h4>Ingresos</h4>
    <a (click)="cambiarCondicion()" class="btn" style="color: rgb(9, 13, 219);"><i class="fa-solid fa-plus"></i> Ver guía de Recomendaciones</a>
    <div *ngIf="value" class="" style="background-color: rgb(174, 176, 179); border-radius: 1em; padding: 10px;">
      <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.5;">
        GUÍA RECOMENDACIONES
        <br>
        Las fuentes de ingresos se peuden definir como el origen de los beneficios económicos de tu negocio.
        <br>
        Tienes que tener claro cómo vas a ganar dinero. Al principio pon todas las opciones que se te ocurran y posteriormente testa cómo y cuánto está dispuesto a pagar tu cliente objetivo.
        <br>
        ◉ ¿Qué es lo que están pagando los clientes?
        <br>
        ◉ ¿Cuál es nuestra fuente principal de ingresos??
        <br>
        También deben definir los medios de pago.
        <br>
        Tener solo una fuente de ingreso es depender totalmente de ella. Es decir, que depende totalmente de eso, por lo que si llega a disminuir su venta serás golpeado fuertemente.
        <br>
        Ejemplo:
        <br>
        ◉ Variedad de producto: Para tener más de un origen, te recomendamos que ofrezcas una variedad de productos o servicios. Que aunque tu negocio sea una pizzeria (por ejemplo), no vendas solo pizza. Puedes especializarte en ella pero también vender otras cosas que encajen, como por ejemplo hamburguesas, hot dog, etc.
        <br>
        ◉ E-book: Los e-book o guía no pasan de moda. Siguiendo con los ejemplos anteriores, si tienes una pizzeria o restaurante puedes vender un libro llamado “100 recetas para Pizza que puedes personalizar”
        <br>
        ◉ Cursos - Eventos: Puedes organizar también cursos donde enseñes lo que haces. Los sorteos (rifas) también suelen ser buenas fuentes de ingresos. Más aún cuando el premio es algo que tu mismo ofreces.
    </div>

    <div class="col-2 mt-3">
      <input [(ngModel)]="nameComponent" type="text" class="form-control mb-1" placeholder="Tipo de gasto">
      <input [(ngModel)]="amount" type="number" class="form-control" placeholder="Monto">
      <a (click)="agregarValor()" class="btn mt-2"><i class="fa-solid fa-plus"></i> Agregar</a>

      <ul>
        <li *ngFor="let entidad of listaBackend">
          {{ entidad.atributo1 }} - {{ entidad.atributo2 }}
        </li>
      </ul>
    </div>
    <div class="col-2 mt-3">
      <input [(ngModel)]="nameComponent" type="text" class="form-control mb-1" placeholder="Tipo de gasto">
      <input [(ngModel)]="amount" type="number" class="form-control" placeholder="Monto">
      <a (click)="agregarValor()" class="btn mt-2"><i class="fa-solid fa-plus"></i> Agregar</a>

      <ul>
        <li *ngFor="let entidad of listaBackend">
          {{ entidad.atributo1 }} - {{ entidad.atributo2 }}
        </li>
      </ul>
    </div>
    <div class="form-group mt-3">
      <button [routerLink]="['/', cliente.id]" class="btn">Guardar</button>
      <button [routerLink]="['/estructuraCostos/cliente/', cliente.id]" class="btn">Guardar y Continuar</button>
      <button [routerLink]="['/procesos']" (click)="cerrarModalAsesoria()" class="btn">Cancelar</button>
    </div>

  </div>


</div>