<div class="container">
    <div class="col-7">
        <h4 >MODELO CANVAS/ Actividades claves</h4>
        <button (click)="cambiarCondicion()" class="btn btn-primary">VER GUIA RECOMENDACIONES</button>
        <div *ngIf="value" class="form-group" style="background-color: darkgray;">
            <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5;">
                GUÍA RECOMENDACIONES
                <br><br>
                Se deben mencionar los elementos que harán que el producto/servicio se diferencie de los que ya existen en el mercado.
                <br><br>
                ◉ ¿Cuál es el problema o la necesidad que resuelve la idea de negocio?
                <br><br>
                ◉ ¿Qué estrategias generará para que el cliente escoja su producto o servicio como primera opción?
                <br><br>
                ◉ ¿Qué beneficios obtiene el cliente al acceder a mi producto o servicio?
                <br><br>
                Ejemplo:
                <br><br>
                Beneficios:
                <ul style="margin-top: 10px; margin-bottom: 10px; padding-left: 20px;">
                  <p>-Optimización de los procesos al interior de la empresa o proyecto.</p>
                  <p>-Mejoramiento de la competitividad en el mercado local.</p>
                  <p>-Generación de conciencia de cambio en la tecnificación de los procesos.</p>
                  <p>-Posicionamiento de marca y good will.</p>
                  <p>-Reconocimiento a nivel local.</p>
                </ul>
                
                 
                <ul style="margin-top: 10px; margin-bottom: 10px; padding-left: 20px;">
                  <p><strong>Nota:</strong> Factores a tener en cuenta para construir una propuesta de valor en la metodología canvas:</p>
                  <p><strong>Novedad:</strong> Crear un producto que no exista o una nueva idea de negocio.</p>
                  <p><strong>Mejora del rendimiento:</strong> Mejorar la producción de tu competencia.</p>
                  <p><strong>Utilidad:</strong> Que resuelva problemas concretamente.</p>
                  <p><strong>Diseño:</strong> La presentación del producto de valor atractiva.</p>
                  <p><strong>Comodidad:</strong> Se refiere a qué tan práctico es usar el producto de valor.</p>
                  <p><strong>Accesibilidad:</strong> Sobre la facilidad de adquirir el producto.</p>
                  <p><strong>Reducción de costes:</strong> Se hace simplificando procesos y optimizando recursos.</p>
                  <p><strong>Reducción de riesgos:</strong> Garantías de proveedores, alianzas, socios, etc.</p>
                </ul>
            
        </div>
        
        <form action="">
            <div style="flex-basis: 100%;" class="mt-3">
                <div class="form-group">
                    <label for="">Proceso o Actividad Principal: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                        placeholder="" ></textarea>
                </div>
                <div class="form-group">
                    <label for="">Prestacion del Servicio: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                        placeholder="" ></textarea>
                </div>
                <div class="form-group">
                    <label for="">Comunicacion y Marketing: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                        placeholder="" ></textarea>
                </div>
                <div class="form-group">
                    <label for="">Postventa: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                        placeholder="" ></textarea>
                </div>
                
            </div>
        </form>
    </div>
    <div class="form-group">
        <button  [routerLink]="['/sociosClaves/cliente/', cliente.id]" class="btn btn-success">Guardar y Continuar</button>
        <button  [routerLink]="['/procesos']"(click)="cerrarModalAsesoria()" class="btn btn-success">Cancelar</button>
      </div>
</div>
