
  #button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    width: 55%;
  }
  #button-add{
    align-items: flex-end;
    border-collapse: collapse;
    border-radius: 1em;
    margin-bottom: 5px;
    position: relative;
    right: 0;
    text-align: center center;
  }
  table {
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
  }
  tr {
    border: none;
    padding: 0;
  }
  td {
    padding-left: 50px;
    border: none;
  }
  th {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding-left: 50px;
    padding-top: 0;
  }
  #btn{
    border-color: #eb9694;
    background-color: red ;
    color: white;
    
}
button:hover{
  border-color: #eb9694;
  background-color: red ;
  color: white;
  
}


