
<!--
 <div id="details" class="card">
                    <ul>
                        <h3 *ngIf="client.type ==='businessman'">Empresario</h3>
                        <h3 *ngIf="client.type ==='entrepreneur'">Emprendedor</h3>
                        <h4 class="btn btn-primary">{{client.name}}</h4>
                        <li>Documento/Nit</li>
                        <p class="btn btn-primary">{{client.nit}}</p>
                        <li>Género</li>
                        <p class="btn btn-primary">{{client.gender}}</p>
                        <h3 *ngIf="client.type ==='businessman'">Empresa</h3>
                        <h3 *ngIf="client.type ==='entrepreneur'">Idea</h3>
                        <p class="btn btn-primary" *ngIf="client.type ==='businessman'">{{client.companyName}}</p>
                        <p class="btn btn-primary" *ngIf="client.type ==='entrepreneur'">{{client.businessIdea}}</p>
                        <li *ngIf="client.type ==='entrepreneur'">Producto</li>
                        <p class="btn btn-primary" *ngIf="client.type ==='entrepreneur'">{{client.product}} </p>
                        <li *ngIf="client.type ==='businessman'">Tipo de Compañia</li>
                        <p class="btn btn-primary" *ngIf="client.type ==='businessman'">{{client.typeOfCompany}} </p>
                        <li>Dirección</li>
                        <p class="btn btn-primary">{{client.address}}</p>
                        <li>Ciudad</li>
                        <p class="btn btn-primary">{{client.municipio.name}}, {{client.municipio.country}}</p>
                        <li>Teléfono</li>
                        <p class="btn btn-primary">{{client.phone}}</p>
                        <li>Correo Eletrónico</li>
                        <p class="btn btn-primary">{{client.email}}</p>
                    </ul>
                </div>


-->
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">


  <div  class="card-header"  *ngIf="client.type ==='entrepreneur'">Emprendedor</div>
  <div  class="card-header" *ngIf="client.type ==='businessman'">Empresario</div>
  <div class="card-body">
    <h5 class="card-title">Nombre</h5>
    <p class="card-text">{{client.name}}</p>
    <h5 class="card-title">Apellido</h5>
    <p class="card-text">{{client.lastName}}</p>
    <h5 class="card-title">NIT</h5>
    <p class="card-text">{{client.nit}}</p>
    <h5 class="card-title">Genero</h5>
    <p class="card-text">{{client.gender}}</p>
    <h5 class="card-title">Direccion</h5>
    <p class="card-text">{{client.address}}</p>

  </div>
</div>
