#details{
    position: fixed;
}
ul {
    list-style-type: none;
    padding: 5px;
    width: 200px;
    height: 99%;
    background-color: #faf8f8;
    border-radius: 0.5em;
    border:1px solid  #faf8f8;
    position: fixed;
    text-align: center;
  }
  
  li{
    color: #000;
    text-decoration: none;
  }
  p{
    color: #000;
    text-decoration: none;
    border-radius: 0.5em;
    border:solid 1px;
    
  }
  
  /* Change the link color on hover */
  /* li:hover {
    background-color: #eb9694;
    color: red;
    border-radius: 0.5em;
  } */