<!-- <app-registrar *ngIf="modalservice.modal"></app-registrar>-->

<app-asesoria *ngIf="modalservice.asesoria"></app-asesoria>
<app-accion *ngIf="modalservice.action && clienteSeleccionado" [cliente]="clienteSeleccionado"></app-accion>

<div class="card"
    style="margin-right: 20px; margin-bottom: 20px; height: 102px; background-color: rgb(125,58,135) ; display: flex;">
    <ul class="nav d-flex justify-content-center align-items-center"
        style="position: relative; height: 100%; overflow: hidden; align-items: flex-start; flex-grow: 1;">
        <img src="/assets/banner.jpg" alt="" style="position: absolute; object-fit: cover; width: auto; height: 100%;">
    </ul>
</div>

    <div  style="margin-bottom: 5px;">
        <div class="card-header bg-transparent" >
            <div class="col">
                <h3>Contactos</h3>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-sm"  *ngFor="let client of clients">
            <thead>
                <tr>
                    <td style="width: 20%; font-size: 10px;" class="align-middle"> Nombre</td>
                    <td style="width: 20%; font-size: 10px;" class="align-middle"> Empresa/Idea</td>
                    <td style="width: 20%; font-size: 10px;" class="align-middle"> CIIU/Servicio</td>
                    <td style="width: 15%; font-size: 10px;" class="align-middle"> Municipio</td>
                    <td style="width: 20%; font-size: 10px; text-align: center;" class="align-middle"> Tipo de Cliente</td>
                    <td style="text-align: center; width: 5%; font-size: 10px;" class="align-middle"> Acciones</td>
                </tr>
            </thead>
            <tbody  class="table-sm" style="margin-top: 0;">
                <tr>
                    <th style="width: 20%;" >{{client.name}} {{client.lastName}}</th>
                    <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">{{client.businessIdea}}</th>
                    <th style="width: 20%;"  *ngIf="client.type ==='businessman'">{{client.companyName}}</th>
                 
                    <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">{{client.product}}</th>
                    <th style="width: 20%;"  *ngIf="client.type ==='businessman'">CIIU N° {{client?.ciiu?.id}}</th>
                   
                    <th style="width: 15%;" >{{client?.municipio?.name}}</th>
        
                    <th style="width: 20%;"  *ngIf="client.type ==='entrepreneur'">
                        <button id="button" class="btn btn-disabled"
                            style=" background-color: red; color: white; width: 100%;">Emprendedor</button>
                    </th>
                    <th style="width: 20%;"  *ngIf="client.type ==='businessman'">
                        <button id="button" class="btn btn-disabled"
                            style=" background-color: rgb(136, 0, 0); color: white; width: 100%;">Empresario</button>
                    </th>
                   
                    <th *ngIf="client.type!==null"  style="text-align: center; width: 5%;">
                        <i class="fa-solid fa-pen-to-square" type="button" (click)="abrirModalAction(client)"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    