<!-- <app-registrar *ngIf="modalservice.modal"></app-registrar>
<app-asesoria *ngIf="modalservice.asesoria"></app-asesoria> -->
<app-accion *ngIf="modalservice.action && clienteSeleccionado" [cliente]="clienteSeleccionado"></app-accion>






 <div class="card" style="margin-right: 20px; margin-bottom: 20px; height: 102px; background-color: rgb(125,58,135) ; display: flex;">
   <ul class="nav d-flex justify-content-center align-items-center" style="position: relative; height: 100%; overflow: hidden; align-items: flex-start; flex-grow: 1;">
    <img src="/assets/banner.jpg" alt="" style="position: absolute; object-fit: cover; width: auto; height: 100%;">
   </ul>
 </div>





<div class="card" style="margin-right: 20px;">
    <div class="card-header">
        <div class="col">
            <h3>Contactos</h3>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-borderless" >
                <tr style="border: solid  #faf8f8; border-radius: 1em; ;">
                    <td scope="col-3"> Nombre</td>
                    <td scope="col-3"> Empresa/Idea</td>
                    <td scope="col-2"> Producto/Servicio</td>
                    <td scope="col-2"> Ciudad</td>
                    <td scope="col-1"> Tipo de Cliente</td>
                    <td scope="col-1"> Acciones</td>
                </tr>
            <tbody class="table-sm" *ngFor="let client of clients" >
                <tr  style="border: solid  #faf8f8; border-radius: 1em;">
                    <th scope="col-3">{{client.name}} {{client.lastName}}</th>
                    <th scope="col-3" *ngIf="client.type ==='entrepreneur'">{{client.businessIdea}}</th>
                    <th scope="col-3" *ngIf="client.type ==='businessman'">{{client.companyName}}</th>
                    <th scope="col-3" *ngIf="client.type ===null">No se registra</th>
                    <th scope="col-2" *ngIf="client.type ==='entrepreneur'">{{client.product}}</th>
                    <th scope="col-2" *ngIf="client.type ==='businessman'">{{client.typeOfCompany}}</th>
                    <th scope="col-2" *ngIf="client.type ===null">No se registra</th>
                    <th scope="col-2">{{client?.municipio?.name}}</th>
                    <th scope="col-1" *ngIf="client.type ==='entrepreneur'">
                        <button id="button" class="btn btn-disabled">Emprendedor</button>
                    </th>
                    <th scope="col-1" *ngIf="client.type ==='businessman'">
                        <button id="button" class="btn btn-disabled">Empresario</button>
                    </th>
                    <th scope="col-1" *ngIf="client.type ===null">
                        <button id="button" class="btn btn-disabled">Asesoría</button>
                    </th>
                    <th scope="col-1" *ngIf="client.type!==null">
                        <i class="fa-solid fa-pen-to-square" type="button" (click)="abrirModalAction(client)"></i>
                    </th>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
