<div class="abrir-modal animacion fadeIn" style="align-items: center;">
    <div class="modal" tabindex="-1" style="display:flex;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ver Estructura de costos</h5>
                    <button (click)="cerrarVerMas()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container" *ngFor="let varr of listaVariable">
                        <label for=""><strong>Variable costos</strong></label>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{varr.nameComponent}}</p>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{varr.amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container" *ngFor="let varr of listaFijo">
                        <label for=""><strong>Costos fijos</strong></label>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{varr.nameComponent}}</p>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{varr.amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Total variable costos</strong></label>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{proceso?.canvasModel?.costStructure?.totalCostosVariables.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Total costos fijos</strong></label>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{proceso?.canvasModel?.costStructure?.totalCostosFijos.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Costo total</strong></label>
                        <p style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;">
                            {{proceso?.canvasModel?.costStructure?.totalCostos.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</p>
                    </div>
                </div>
            </div>
        </div>