<div class="abrir-modal animacion fadeIn">
  <div class="modal" tabindex="-1" style="display:block; margin-left: -200px;">
    <div class="modal-dialog" style="width:850px;  " role="document">
      <div class="modal-content" style="width:850px; ">
        <div class="modal-header" style="width:850px; margin-bottom: 5px">
          <h5 class="modal-title">Iniciando Proceso</h5>

          <a (click)="cerrarModalProceso()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></a>
        </div>
        <p style="margin-left: 10px;">Asesor: {{usuario.name}} {{usuario.lastName}}</p>
        <div class="container display-flex" *ngIf="!condicion">
          <div class="col-7 m-2">
            <input (keyup)="buscar()" [(ngModel)]="termino" type="text" class="form-control"
              placeholder="Buscar por Nombre">

          </div>
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th style="text-align: center;">Tipo</th>
                <th style="width: 3%;">Asignar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nit}}</td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.lastName}}</td>
                <td *ngIf="cliente.type ==='businessman'">
                  <button id="button" class="btn btn-disabled"
                    style=" background-color: rgb(136, 0, 0); color: white; width: 100%;">Empresario</button>
                </td>
                <td *ngIf="cliente.type ==='entrepreneur'">
                  <button id="button" class="btn btn-disabled"
                    style=" background-color: red; color: white; width: 100%;">Emprendedor</button>
                </td>
                <td style="width: 3%;text-align: center; vertical-align: middle;"><a class="btn" (click)="findById(cliente.id)"><i
                      class="fa-solid fa-circle-plus fa-xl"></i></a></td>
              </tr>
            </tbody>
          </table>

        </div>
        <p style="margin-left: 10px;" *ngIf="condicion">Cliente: {{client.name}} {{client.lastName}}</p>
        <div class="container display-flex" *ngIf="condicion">

          <div class="form-group" style="margin-top: 5px; margin-bottom: 5px;">
            <button *ngIf="habiliar" (click)="cerrarModalProceso()"
              [routerLink]="['/autoevaluacion/cliente/', client.id]" class="btn">Crear Proceso</button>
            <button (click)="volver()" class="btn">Volver</button>
            <!-- <button (click)="cerrarModalProceso()" class="btn">Cancelar</button> -->

          </div>

        </div>

      </div>
    </div>
  </div>
</div>