<div class="card" style="margin-right: 20px;">
  <div class="card-header">
    {{titulo}}<br>
    <button routerLink="/usuarios" class="btn btn-dark btn-sm">volver</button>
  </div>
  <div class="card-body">
    <form> 
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" name="name" [(ngModel)]="usuario.name" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" name="lastName" [(ngModel)]="usuario.lastName" class="form-control" id="lastName">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Telefono</label>
        <input type="text" name="phone" [(ngModel)]="usuario.phone" class="form-control" id="phone">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" [(ngModel)]="usuario.email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="usuario.password" class="form-control" id="password">
      </div>

      <div class="mb-3">
        <button *ngIf="!usuario.id" (click)="registrar()" class="btn btn-success">Registrar</button>
        <button *ngIf="usuario.id" (click)="editar()" class="btn btn-info">Editar</button>
      </div>
    </form>
  </div>
</div>
