





<div class="card" style="margin-right: 20px;">
  <div class="card-header d-flex justify-content-between">
    <h3>{{titulo}}</h3>
    <div class="text-end">
      <button routerLink="/usuarios" class="btn btn-dark btn-sm">
        <i class="bi bi-arrow-left">Volver</i>
      </button>
    </div>
    
  </div>
  <div class="card-body">
    <form class="was-validated"> 
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" name="name" [(ngModel)]="usuario.name" class="form-control" id="name" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" name="lastName" [(ngModel)]="usuario.lastName" class="form-control" id="lastName" required>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Telefono</label>
        <input type="text" name="phone" [(ngModel)]="usuario.phone" class="form-control" id="phone" required>
      </div>

      <div class="mb-3">
        <label for="cedula" class="form-label">Cedula</label>
        <input type="cedula" name="cedula" [(ngModel)]="usuario.cedula" class="form-control" id="cedula">
      </div>
      <div class="mb-3">
        <label for="profesion" class="form-label">Profesion</label>
        <input type="profesion" name="profesion" [(ngModel)]="usuario.profesion" class="form-control" id="profesion">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" [(ngModel)]="usuario.email" class="form-control" id="email" required>
      </div>
      <div class="mb-3" *ngIf="usuario.id && usuario.role=='ADVISER'">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="usuario.password" class="form-control" id="password" required>
      </div>

      <div class="mb-3">
        
        <button *ngIf="!usuario.id" (click)="registrar()" class="btn btn-success" >Registrar</button>
        <button *ngIf="usuario.id" (click)="editar()" class="btn btn-info">Editar</button>
      </div>
    </form>
  </div>
</div>
