<div *ngIf="bool">
<div class="abrir-modal animacion fadeIn" style="align-items: center;">
    <div class="modal" tabindex="-1" style="display:flex;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Canales</h5>
                    <button (click)="cerrarVerMas()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Informacion</strong></label>
                        <p
                            style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;">
                            {{proceso?.canvasModel?.channels?.informacion}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Evaluacion</strong></label>
                        <p
                            style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;">
                            {{proceso?.canvasModel?.channels?.evaluacion}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Compra</strong></label>
                        <p
                            style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;">
                            {{proceso?.canvasModel?.channels?.compra}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>Entrega</strong></label>
                        <p
                            style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;">
                            {{proceso?.canvasModel?.channels?.entrega}}</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                    <div class="container">
                        <label for=""><strong>PostVenta</strong></label>
                        <p
                            style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;">
                            {{proceso?.canvasModel?.channels?.postVenta}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>



        <div *ngIf="!bool">
            <div class="abrir-modal animacion fadeIn" style="align-items: center;">
                <div class="modal" tabindex="-1" style="display:flex;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar Canales</h5>
                                <button (click)="cerrarVerMas()" type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                                <div class="container">
                                    <label for=""><strong>Informacion</strong></label><br>
                                    <textarea [(ngModel)]="proceso.canvasModel.channels.informacion" style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;"></textarea>
                                        
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                                <div class="container">
                                    <label for=""><strong>Evaluacion</strong></label><br>
                                    <textarea [(ngModel)]="proceso.canvasModel.channels.evaluacion" style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;"></textarea>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                                <div class="container">
                                    <label for=""><strong>Compra</strong></label><br>
                                    <textarea [(ngModel)]="proceso.canvasModel.channels.compra" style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;"></textarea>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                                <div class="container">
                                    <label for=""><strong>Entrega</strong></label><br>
                                    <textarea [(ngModel)]="proceso.canvasModel.channels.entrega" style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;"></textarea>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-2">
                                <div class="container">
                                    <label for=""><strong>PostVenta</strong></label><br>
                                    <textarea [(ngModel)]="proceso.canvasModel.channels.postVenta" style="border: solid 0.5px; border-radius: 0.5em; padding-left: 5px;max-height: 150px; overflow-y: auto;"></textarea>
                                </div>
                            </div>
                            <br>

                            <div style="position: absolute; bottom: 0;right: 0;">
                                <a (click)="editar()" class="btn" ><i class="fa-solid fa-plus"></i> Aceptar</a>
                            </div>

                        </div>
                    </div>
                    </div>
                    </div>
                </div>