<div class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" style="display:block; margin-left: -200px;">
        <div class="modal-dialog" style="width:850px;  " role="document">
            <div class="modal-content" style="width:850px; ">
                <div class="modal-header" style="width:850px; margin-bottom: 5px">
                    <h5 class="modal-title">Iniciando Asesoría</h5>
                    <button (click)="cerrarModalAsesoria()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="container display-flex" *ngIf="!condicion">
                  <form action="">
                      <h2 class="btn btn-disabled">Datos del Cliente</h2>
                      <div class="col p-2" style="display: flex; flex-wrap: wrap; border: solid 1px; border-radius: 1em;">
                          <div style="flex-basis: 50%;">
                              <label for="">
                                  <br>
              
                                  <input type="text" name="name" [(ngModel)]="client.name" placeholder="Nombre">
              
                              </label>
                              <div style="flex-basis: 50%;">
                                  <label for="">
                                      <br>
              
                                      <input type="text" name="nit" [(ngModel)]="client.nit" placeholder="Documento/NIT">
              
                                  </label>
                              </div>
                          </div>
                          <div style="flex-basis: 50%;">
                              <label for="">
                                  <br>
                                  <input type="text" name="lastName" [(ngModel)]="client.lastName" placeholder="Apellido">
                              </label>
                              <div style="flex-basis: 50%;">
                                  <label for="">
              
                                      <br>
                                      <select class="form-select form-select-sm" name="gender" [(ngModel)]="client.gender"
                                          aria-label="Default select example">
                                          <option [ngValue]="undefined">--- Seleccionar Género ---</option>
                                          <option value="MALE">Masculino</option>
                                          <option value="FEMALE">Femenino</option>
                                          <option value="LGBTQ">LGBTQ+</option>
              
                                      </select>
                                  </label>
                              </div>
                          </div>
                          <div style="flex-basis: 50%;">
                              <label for="">
                                  <br>
                                  <input type="text" style="border-radius: 5;" name="edad" [(ngModel)]="client.edad"
                                      placeholder="Edad">
                              </label>
                              <div style="flex-basis: 50%;">
                                  <label for="">
              
                                      <br>
                                      <select class="form-select form-select-sm" name="ethnicGroup"
                                          [(ngModel)]="client.ethnicGroup" aria-label="Default select example">
                                          <option [ngValue]="undefined">--- Seleccionar Grupo Étnico ---</option>
                                          <option value="ROM">ROM</option>
                                          <option value="INDIGENAS">INDIGENAS</option>
                                          <option value="AFROCOLOMBIANO">AFROCOLOMBIANO</option>
                                          <option value="RAIZALES">RAIZALES</option>
                                          <option value="OTRO ">OTRO </option>
              
                                      </select>
                                  </label>
                              </div>
                              <div style="flex-basis: 50%;">
              
              
                                  <label for="" style="font-size: 15px; margin-top: 10px;;">
              
                                      <strong>¿Es población víctima?</strong>
                                      <br>
                                  </label>
              
                                  <input value="true" [(ngModel)]="client.victimPopulation" class="form-check-input" type="radio"
                                      name="victimPopulation" id="victimPopulation" style="margin-top: 20px; margin-left: 5px;">
                                  <label for="victimPopulation" class="form-check-label"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">SI</label>
              
                                  <input value="false" [(ngModel)]="client.victimPopulation" class="form-check-input"
                                      type="radio" name="victimPopulation" id="victimPopulation1"
                                      style="margin-top: 20px; margin-left: 10px;">
                                  <label for="victimPopulation1" class="form-check-label"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">NO</label>
              
              
                              </div>
                          </div>
                          <div style="flex-basis: 50%;">
                              <label for="">
              
                                  <br>
                                  <select class="form-select form-select-sm" name="studyLevel" [(ngModel)]="client.studyLevel"
                                      aria-label="Default select example">
                                      <option [ngValue]="undefined">--- Seleccionar Nivel Escolaridad ---</option>
                                      <option value="SECUNDARIO">SECUNDARIO</option>
                                      <option value="TERCIARIO">TERCIARIO</option>
                                      <option value="UNIVERSITARIO ">UNIVERSITARIO </option>
              
                                  </select>
                              </label>
                              <div style="flex-basis: 50%;">
              
              
                                  <label for="" style="font-size: 15px; margin-top: 10px;;">
              
                                      <strong>¿Esta en condiciones de desplazamiento?</strong>
                                      <br>
                                  </label>
                                  <input value="true" [(ngModel)]="client.displacement" class="form-check-input" type="radio"
                                      name="displacement" id="displacement" style="margin-top: 20px; margin-left: 5px;">
                                  <label class="form-check-label" for="displacement"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">SI</label>
                                  <input value="false" [(ngModel)]="client.displacement" class="form-check-input" type="radio"
                                      name="displacement" id="displacement1" style="margin-top: 20px; margin-left: 10px;">
                                  <label class="form-check-label" for="displacement1"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">NO</label>
                              </div>
                              <div style="flex-basis: 50%;">
              
              
                                  <label for="" style="font-size: 15px; margin-top: 10px;;">
              
                                      <strong>¿Presenta alguna discapacidad?</strong>
                                      <br>
                                  </label>
                                  <input value="true" [(ngModel)]="client.disability" class="form-check-input" type="radio"
                                      name="disability" id="disability" style="margin-top: 20px; margin-left: 5px;">
                                  <label class="form-check-label" for="disability"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">SI</label>
                                  <input value="false" [(ngModel)]="client.disability" class="form-check-input" type="radio"
                                      name="disability" id="disability1" style="margin-top: 20px; margin-left: 10px;">
                                  <label class="form-check-label" for="disability1"
                                      style="font-size: 15px; margin-top: 16px; margin-left: 5px;">NO</label>
                              </div>
                          </div>
                      
              
              
              
              
              
              
                      <!-- Form de los datos de Empresa -->
              
                      
                          
                          
                              <div style="flex-basis: 50%;">
              
              
                                  <div style="flex-basis: 50%;">
                                      <label for="">
                                          <br>
                                          <input type="text" style="border-radius: 5; margin-right: 5px;" name="address"
                                              [(ngModel)]="client.address" placeholder="Dirección">
                                      </label>
                                  </div>
                                  <div style="flex-basis: 50%;">
              
                                      <label for="">
                                          <br>
                                          <input type="text" style="border-radius: 5; margin-right: 5px;" name="phone"
                                              [(ngModel)]="client.phone" placeholder="Teléfono">
                                      </label>
                                  </div>
                              </div>
                              <div style="flex-basis: 50%;">
              
                                  <div style="flex-basis: 50%;">
              
                                      <label for="">
                                          <br>
                                          <select [(ngModel)]="client.municipio" class="form-select form-select-sm"
                                              name="municipio" aria-label="Default select example">
                                              <option [ngValue]="undefined">--- Seleccionar Municipio ---</option>
                                              <option *ngFor="let m of municipio" [ngValue]="m">{{m.name}} || {{m.country}}</option>
              
              
                                          </select>
                                      </label>
                                  </div>
              
                                  <div style="flex-basis: 50%;">
                                      <label for="">
                                          <br>
                                          <input type="text" style="border-radius: 5; margin-right: 5px;" name="email"
                                              [(ngModel)]="client.email" placeholder="Correo Electrónico">
                                      </label>
              
                                  </div>
                              </div>
                          </div>
                      
                      
                      <div class="form-group" style="margin-top: 5px; margin-bottom: 5px;">
                          <button (click)="registrar()"  class="btn btn-success">Registrar</button>
                      </div>
                  </form>
              </div>
              <div class="container display-flex" *ngIf="condicion">

                <div style="flex-basis: 100%;" class="mt-3">
                  <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                           placeholder="Tema/Observaciones" [(ngModel)]="asesoria.advisory"></textarea>
                  </div>
              </div>


                <div class="form-group" style="margin-top: 5px; margin-bottom: 5px;">
                  <button (click)="finalizar()"  class="btn btn-success">Finalizar asesoria</button>
              </div>

              </div>
              
            </div>
        </div>
        </div>
        </div>