<div class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" style="display:block; margin-left: -200px;">
        <div class="modal-dialog" style="width:850px;  " role="document">
            <div class="modal-content" style="width:850px; ">
                <div class="modal-header" style="width:850px;">
                    <h5 class="modal-title">Iniciando Asesoría</h5>
                    <button (click)="cerrarModalAsesoria()" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        </div>
        </div>