<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h2 class="btn btn-disabled">Anális de Resultados</h2>
        <div class="col-8">
            <form action="">
                <table class="table table-bordered" style="border: solid 1px;">
                    <tbody>
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>1. GESTIÓN ESTRATÉGICA COMERCIAL Y DE MARKETING</strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
    
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>2. GESTIÓN DE LA PRODUCTIVIDAD Y DEL TALENTO HUMANO								
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>3. GESTIÓN DE LA PRODUCTIVIDAD OPERACIONAL								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>4. GESTIÓN DE CALIDAD								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>5. GESTIÓN DE LA INNOVACIÓN 								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>6. GESTIÓN FINANCIERA Y CONTABLE								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>7. GESTIÓN LOGÍSTICA								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>8. GESTIÓN DE TRANSFORMACIÓN DIGÍTAL								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>9. SOSTENIBILIDAD AMBIENTAL								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <th style="font-size: 14px;">
                               <strong>10. GESTIÓN PROPIEDAD INTELECTUAL E INDUSTRIAL								
                                    
                            </strong> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="" id="" class="form-control" rows="4"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        
    </div>
</div>