<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h2 class="btn btn-disabled">Anális de Economico</h2>
        <div class="col-11">
            <form action="">
                <table class="table table-bordered" style="border: solid 1px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;">INDICADOR</th>
                            <th style="width: 10%;">MES 1</th>
                            <th style="width: 10%;">MES 2</th>
                            <th style="width: 10%;">MES 3</th>
                            <th style="width: 10%;">MES 4</th>
                            <th style="width: 10%;">MES 5</th>
                            <th style="width: 40%;">OBSERVACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 20%;">Ventas en el mes</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Aumento en ventas</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Empleos Formales</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Empleos Informales</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Empleos Nuevos</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Empresa Expostando(SI-NO)</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Ventas por Exportación</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Diversificación de Productos(SI-NO)</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Apertura de Nuevos Mercados(SI-NO)</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Acceso a Otras Fuentes de Financiación(SI-NO)</td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 30%;"><textarea name="" id="" class="form-control" rows="2"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>