<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Análisis Interno y Externo</h4>
        <div>
            <form action="">
                <div style="flex-basis: 100%;" class="mt-3">
                    <div class="form-group">
                        <label for="">Público Objetivo: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Actividad Principal de la Empresa: </label>
                        <textarea   class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label   for="">Propuesta de Valor: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Comercialización: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Operación: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Equipo de Trabajo: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Competencias: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Medio Digitales: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Recursos Necesarios: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Legal: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Fuentes de Financiación: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>

                </div>
            </form>
        </div>
        <div class="form-group mt-3">
            <button  class="btn">Guardar</button>
            <button  class="btn">Guardar y Continuar</button>
            <button   class="btn">Cancelar</button>
        </div>
    </div>
</div>
