
#div-izq{
    position: fixed;
}
#div-arr{
  position: fixed;
  margin-left: 250px;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 99%;
    background-color: #faf8f8;
    border-radius: 0.5em;
    
    border:1px solid  #faf8f8;
    position: fixed;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #eb9694;
    color: red;
    border-radius: 0.5em;
  }