



<div class="container">
  <nav >
    <div class="container" id="arr" style="background-color: white;">
      <div class="col" >
        <div class="row">
          <div class="col-7">
            <input type="text" class="form-control" placeholder="Buscar">
          </div>
          <div class="col-2 text-end">
            <button class="btn" style="background-color: red;color: white; border-radius: 1em;"
              (click)="abrirModalAsesoria()">Iniciar Asesoría</button>
          </div>
          <div class="col-1 text-end">
            <a href="#" class="btn" style="background-color: #faf8f8;">
              <i class="fa-regular fa-bell"></i>
            </a>
          </div>
          <div class="col-2 text-end">
            <button class="btn" type="button" style="background-color: #faf8f8; width: 100%;">
              User N°
            </button>
          </div>
        </div>
      </div>


    </div>
   
  </nav>
</div>

<!-- <div class="container" id="arr" style="background-color: white;">
  <div class="col" >
    <div class="row">
      <div class="col-7">
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
      <div class="col-2 text-end">
        <button class="btn" style="background-color: red;color: white; border-radius: 1em;"
          (click)="abrirModalAsesoria()">Iniciar Asesoría</button>
      </div>
      <div class="col-1 text-end">
        <a href="#" class="btn" style="background-color: #faf8f8;">
          <i class="fa-regular fa-bell"></i>
        </a>
      </div>
      <div class="col-2 text-end">
        <button class="btn" type="button" style="background-color: #faf8f8; width: 100%;">
          User N°
        </button>
      </div>
    </div>
  </div>
</div> -->





<div id="div-izq" class="container col-2">
  <ul>
    <img src="/assets/imgNavBar.jpeg" alt="" style="width: 100%;">
    <li>
      <a href="#home"><i class="fa-solid fa-bars"></i> Inicio</a>
    </li>
    <li><a routerLink="/usuarios"><i class="fa-solid fa-user-tie"></i> Asesores</a></li>
    <li><a routerLink="/clients"><i class="fa-solid fa-user-tie"></i> Contactos</a></li>
    <li><a routerLink='/clients/autoevaluacion'><i class="fa-solid fa-layer-group"></i> Procesos</a></li>
    <li><a routerLink='/clients/details'><i class="fa-regular fa-calendar-days"></i> Calendario</a></li>
    <li><a href=""><i class="fa-regular fa-folder-open"></i> Reportes</a></li>
    <li><a href="#about"><i class="fa-solid fa-comment"></i> Mensajes</a></li>
    <li><a class="position-bottom" href="#about"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
  </ul>
</div>
