
 .sidebar{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
 }
 
 ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border-radius: 0.5em;
    justify-content: center;
  }
  li{
    align-items: center;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: #e96664;
    color: white;
    border-radius: 0.5em;
  } 
 
  nav{
    background-color: white;
    border-radius: 1em;
   
  }


  

