
<div class="container col-2">
  <ul>
    <li>     
      <a href="#home"><i class="fa-solid fa-bars"></i> Inicio</a></li>
    <li><a routerLink="/clients"><i class="fa-solid fa-user-tie"></i> Contactos</a></li>
    <li><a routerLink="/clients/form/entrepreneur"><i class="fa-solid fa-layer-group"></i> Procesos</a></li>
    <li><a href="#about"><i class="fa-regular fa-calendar-days"></i> Calendario</a></li>
    <li><a href="#about"><i class="fa-solid fa-comment"></i> Mensajes</a></li>
    <li><a class="position-bottom" href="#about"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
  </ul>
  
</div>
 