<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <div class="col-8 centered-col">
            <h4>Presupuesto de Ventas</h4>
            <div style="text-align: center;">
                <h5>ESTRUCTURA DEL MERCADO - UNIDADES</h5>
            </div>
            <div>
                <table class="excel-table">
                    <thead style="text-align: center;">
                        <tr>
                            <th>Nombre del Producto(Bien o Servicio)</th>
                            <th>Ventas Unidades Año 1</th>
                        </tr>
                    </thead>
                    <tbody>
                      <td><input type="text" [(ngModel)]="producto"></td>
                      <td><input type="number" step="any" [(ngModel)]="cantidad"></td>
                      <tr>
                        <td colspan="2" class="add-row">
                            <a (click)="agregarFila()" class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                        </td>
                    </tr>
                        <tr *ngFor="let item of presupuestoVenta.estructuraMercado">
                            <td>{{item.producto}}</td>
                            <td>{{item.cantidad}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>${{totalUnidadesRequeridas}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div style="text-align: center; margin-top: 10px;">
            <h5>CAPACIDAD MANO DE OBRA INSTALADA</h5>
        </div>
        <div>
            <table class="excel-table">
                <thead style="text-align: center;font-size: small;">
                    <tr>
                        <th colspan="2">Nombre del Producto(Bien o Servicio)</th>
                        <th>N° de Horas Año Operario Turno</th>
                        <th>Unidades Hora Hombre</th>
                        <th>Capacidad Instalada en Unidades por Operario Año 1</th>
                        <th>Tiempo de Dedicación en % Año 1</th>
                        <th>Capacidad Instalada en Unidades</th>
                        <th>Capacidad Requerida en Unidades</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pres of presupuestoVenta.estructuraMercado">
                        <td class="autorellenadas" style="width: 13%;"></td>

                        <td style="width: 15%;">
                            <select [(ngModel)]="pres.tipo" class="form-select"
                            aria-label="Default select example" >
                            <option value="UNIDAD" >Unidad</option>
                            <option value="KILOGRAMO" >Kilogramo</option>
                            <option value="LIBRA" >Libra</option>
                            <option value="ONZA" >Onza</option>
                            <option value="LITRO" >Litro</option>
                            <option value="METRO CUBICO" >Metro cubico</option>
                            <option value="DIA" >Dia</option>
                            <option value="HORA" >Hora</option>
                            <option value="MINUTO" >Minuto</option>
                            <option value="SERVICIO" >Servicio</option>
                            <option value="PRODUCTO" >Producto</option>
                            <option value="OTRO" >Otro</option>
                        </select></td>
                        <td style="width: 13%;"><input type="number" step="any" (keyup)="llenarHoras()" [(ngModel)]="pres.horasOperario"></td>
                        <td class="autorellenadas" style="width: 13%;">{{pres.unidadHoraHombre}}</td>
                        <td class="autorellenadas" style="width: 13%;">{{pres.capacidadInstaladaPorOperario}}</td>
                        <td style="width: 13%;"><input type="number" (keyup)="llenarHoras()" [(ngModel)]="pres.tiempoDecicacion"></td>
                        <td class="autorellenadas" style="width: 13%;">{{pres.capacidadInstaladaUnidades}}</td>
                        <td class="autorellenadas" style="width: 13%;">{{pres.cantidad}}</td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Total</th>
                        <th>${{presupuestoVenta.totalCapacidadOperario}}</th>
                        <th></th>
                        <th>${{presupuestoVenta.totalCapacidadInstalada}}</th>
                        <th>${{totalUnidadesRequeridas}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <h5>VENTAS ANUALES POR PRODUCTO</h5>
        </div>
        <div>
            <table class="excel-table">
                <thead style="text-align: center;font-size: small;">
                    <tr>
                        <th>Nombre del Producto(Bien o Servicio)</th>
                        <th>Unidades a Vender</th>
                        <th>Precio de Venta Unit.</th>
                        <th>Ventas Totales $ Año 1</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pres of presupuestoVenta.estructuraMercado">
                        <td class="autorellenadas" style="width: 13%;">{{pres.producto}}</td>
                        <td style="width: 13%;" class="autorellenadas">{{pres.cantidad}}</td>
                        <td style="width: 13%;"><input type="number" (keyup)="llenarHoras()" [(ngModel)]="pres.precioUnitario"></td>
                        <td style="width: 13%;" class="autorellenadas">{{pres.precioTotal}}</td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th >Total</th>
                        <th>${{presupuestoVenta.totalProductos}}</th>
                        <th>${{presupuestoVenta.totalPrecioUnitario}}</th>
                        <th>${{presupuestoVenta.totalTotal}}</th>

                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <h5>INCREMENTO EN % DEL PRECIO</h5>
        </div>
        <div class="col-5 centered-col">
            <div class="table-container">
                <table class="excel-table">
                    <thead style="text-align: center;font-size: small;">
                        <tr>
                            <th>Periodo</th>
                            <th>IPC/ Inflación %</th>
                            <th>Base + IPC</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;font-size: small;">
                        <tr>
                            <td class="autorellenadas" style="width: 8%;">AÑO 2</td>
                            <td style="width: 5%;"><input type="text"></td>
                            <td class="autorellenadas" style="width: 13%;"></td>
                        </tr>
                        <tr>
                            <td class="autorellenadas" style="width: 8%;"> AÑO 3</td>
                            <td style="width: 5%;"><input type="text"></td>
                            <td class="autorellenadas" style="width: 13%;"></td>
                        </tr>
                        <tr>
                            <td class="autorellenadas" style="width: 8%;">AÑO 4</td>
                            <td style="width: 5%;"><input type="text"></td>
                            <td class="autorellenadas" style="width: 13%;"></td>
                        </tr>
                        <tr>
                            <td class="autorellenadas" style="width: 8%;">AÑO 5</td>
                            <td style="width: 5%;"><input type="text"></td>
                            <td class="autorellenadas" style="width: 13%;"></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div>
            <div style="text-align: center; margin-top: 10px;">
                <h5>CICLICIDAD DE VENTAS EN EL AÑO</h5>
            </div>
            <div class="col-3 centered-col">
                <div class="table-container">
                    <table class="excel-table">
                        <thead style="text-align: center;font-size: small;">
                            <tr>
                                <th>Calificación comportamiento ventas</th>
                                <th>Calificación</th>

                            </tr>
                        </thead>
                        <tbody style="text-align: center;font-size: small;">
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">Muy Alto</td>
                                <td class="autorellenadas" style="width: 13%;">9</td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">Alto</td>
                                <td class="autorellenadas" style="width: 13%;">7</td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">Normal</td>
                                <td class="autorellenadas" style="width: 13%;">5</td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" style="width: 8%;">Bajo</td>
                                <td class="autorellenadas" style="width: 13%;">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <div class="col-6 centered-col">
                    <div class="table-container">
                        <table class="excel-table">
                            <thead style="text-align: center;font-size: small;">
                                <tr>
                                    <th colspan="2">De acuerdo a la estacionalidad de su portafolio califique los meses segund la tabla anterior</th>
                                    <th>Año 1 Unidades</th>
                                    <th>Año 1 Ventas $</th>

                                </tr>
                            </thead>
                            <tbody style="text-align: center;font-size: small;">
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Enero</td>
                                    <td  style="width: 22%;"><select (change)="llenarCiclicidad($event,'enero')"   class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;" ></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Febrero</td>
                                    <td  style="width: 22%;"><select (click)="llenarCiclicidad($event,'febrero')"  [(ngModel)]="listaMes[1]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Marzo</td>
                                    <td  style="width: 22%;"><select (click)="llenarCiclicidad($event,'febrero')"  [(ngModel)]="listaMes[2]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Abril</td>
                                    <td  style="width: 22%;"><select   [(ngModel)]="listaMes[3]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Mayo</td>
                                    <td  style="width: 22%;"><select  [(ngModel)]="listaMes[4]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Junio</td>
                                    <td  style="width: 22%;"><select   [(ngModel)]="listaMes[5]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Julio</td>
                                    <td  style="width: 22%;"><select   [(ngModel)]="listaMes[6]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Agosto</td>
                                    <td  style="width: 22%;"><select  [(ngModel)]="listaMes[7]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Septiembre</td>
                                    <td  style="width: 22%;"><select  [(ngModel)]="listaMes[8]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Octubre</td>
                                    <td  style="width: 22%;"><select   [(ngModel)]="listaMes[9]"class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Noviembre</td>
                                    <td  style="width: 22%;"><select   [(ngModel)]="listaMes[10]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 13%;">Diciembre</td>
                                    <td  style="width: 22%;"><select  [(ngModel)]="listaMes[11]" class="form-select"
                                        aria-label="Default select example" >
                                        <option value=9 >Muy Alto</option>
                                        <option value=7 >Alto</option>
                                        <option value=5 >Normal</option>
                                        <option value=3 >Bajo</option>
                                    </select></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>{{presupuestoVenta.totalCalificacion}}</th>
                                    <th>total cantidad</th>
                                    <th>{{presupuestoVenta.totalTotal}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="form-group mt-3">
                      <button (click)="guardarYsalir()"  class="btn">Guardar</button>
                      <button (click)="guardar()" class="btn">Guardar y Continuar</button>
                      <button [routerLink]="['/procesos']"  class="btn">Cancelar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
