<div class="row">
  <div class="col-2">
    <app-client-details></app-client-details>
  </div>
  <div class="col-10">
    <h4>Estructura de Costos</h4>
    <a (click)="cambiarCondicion()" class="btn" style="color: rgb(9, 13, 219);"><i class="fa-solid fa-plus"></i> Ver
      guía de Recomendaciones</a>
    <div *ngIf="value" class="" style="background-color: rgb(174, 176, 179); border-radius: 1em; padding: 10px;">
      <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.5;">
        GUÍA RECOMENDACIONES
        <br>
        <strong>En el último bloque del lienzo deben hacer una radiografía detallada de todos los costos asociados a la
          producción del negocio.</strong>
        <br>
        Esta es una lista de todo aquello que implique gastos para crear y entregar el producto/servicio, por ejemplo:
        operarios, planta física, sitio web, materia prima, entre otros. Como parte del ejercicio, esta lista debe
        ordenar los elementos identificados de mayor a menor en función de los gastos para considerar cómo poder
        reducirlos u optimizarlos.
        <br>
        ◉ ¿Cuáles son los costes más importantes?
        <br>
        ◉ ¿Cuáles son los recursos y actividades de mayor coste?
        <br>
        ◉ ¿Cuáles son los costes fijos y variables de la empresa?
        <br>
         <strong>Costes fijos:</strong>  Son aquellos costes que no varían aunque la producción o las ventas aumenten, ya que no tienen una
        relación proporcional con el producto o servicio.
          <br>
        <strong>Costos Variables:</strong>Costos Variables: Asimismo, estos costes aumentan proporcionalmente el volumen de la producción. Por ejemplo, si
        ofreces un servicio digital en una plataforma que no es tuya, es posible que tengas que pagar una comisión por
        cada uso de servicio que hagas, esto es un costo variable.
          <br>
        ¿Cómo podemos modificar nuestra red de valor para disminuir los costes? (Algunos ejemplos son: coworking,
        alianzas, asociaciones, nuevos proveedores, outsourcing, etc.)




    </div>
    <div class="col-2 mt-3">
      <label>Costo Variable
        <br>
        <select [(ngModel)]="nuevaEntidad" class="form-select form-select-sm"
            name="typeOfCompany" aria-label="Default select example" >
            <option [ngValue]="undefined">--- Seleccionar Costo variables ---</option>
            <option *ngFor="let e of listaCostos" [ngValue]="e">{{e.id}} || {{e.nameComponent}}</option>
        </select>
    </label>

      <input [(ngModel)]="amount" type="number" class="form-control" placeholder="Monto">
      <a (click)="agregarValor()" class="btn mt-2"><i class="fa-solid fa-plus"></i> Agregar</a>

      <ul>
        <li *ngFor="let entidad of listaBackend">
          {{ entidad.nameComponent }} - {{ entidad.amount }}
        </li>
      </ul>
    </div>
    <div class="col-2 mt-3">
      <label>Costo Fijo
        <br>
        <select [(ngModel)]="nuevaEntidad1" class="form-select form-select-sm"
            name="typeOfCompany" aria-label="Default select example" >
            <option [ngValue]="undefined">--- Seleccionar Costo Fijo ---</option>
            <option *ngFor="let e of listaCostos" [ngValue]="e">{{e.id}} || {{e.nameComponent}}</option>
        </select>
    </label>


      <input [(ngModel)]="amount1" type="number" class="form-control" placeholder="Monto">
      <a (click)="agregarValor1()" class="btn mt-2"><i class="fa-solid fa-plus"></i> Agregar</a>

      <ul>
        <li *ngFor="let entidad1 of listaBackend2">
          {{ entidad1.nameComponent }} - {{ entidad1.amount }}
        </li>
      </ul>
    </div>

    <div class="form-group">

      <button  (click)="guardarYSalir()" class="btn">Guardar</button>
      <button (click)="guardar()" class="btn">Guardar y Continuar</button>
      <button [routerLink]="['/procesos']" (click)="cerrarModalAsesoria()" class="btn">Cancelar</button>
    </div>

  </div>
</div>
