<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Información del Proyecto</h4>
        <div>
            <form action="">
                <div style="flex-basis: 100%;" class="mt-3">
                    <div class="form-group">
                        <label for="">Resumen Ejecutivo: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Problema Identidificado: </label>
                        <textarea   class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label   for="">Objetivos: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Misión: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Visión: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Valores Corporativos: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Impacto Ambiental: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label  for="">Impacto Social: </label>
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="2" name="remarks"
                            placeholder=""></textarea>
                    </div>

                </div>
            </form>
        </div>
        <div class="form-group mt-3">
            <button  class="btn">Guardar</button>
            <button  class="btn">Guardar y Continuar</button>
            <button   class="btn">Cancelar</button>
        </div>
    </div>
</div>
