<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>

    <div class="col-10">
        <h4>Canales</h4>
        <a (click)="cambiarCondicion()" class="btn" style="color: rgb(9, 13, 219);"><i class="fa-solid fa-plus"></i> Ver
            guía de Recomendaciones</a>
        <div *ngIf="value" class="" style="background-color: rgb(174, 176, 179); border-radius: 1em; padding: 10px;">
            <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.5">
                GUÍA RECOMENDACIONES
                <br>
                Se deben mencionar los elementos que harán que el producto/servicio se diferencie de los que ya existen
                en el mercado.
                <br>
                ◉ ¿Cómo establecemos contacto con nuestros clientes?
                <br>
                ◉ ¿Cómo le damos a conocer nuestro producto o servicio?
                <br>
                ◉ ¿Cómo les entregamos el producto?
                <br>
                Para la selección de los canales CANVAS estudia las diferentes fases por las que pasa tu cliente durante
                el procesos de compra:
                <br>
                Fase de información: Son canales que pretenden informar a los consumidores y generar interés sobre tu
                propuesta de valor (identificar cuáles son sus medios de búsqueda de información preferidos. Por
                ejemplo: páginas web, anuncios en diarios y tv)
                <br>
                Fase de evaluación: analiza la información que ha recopilado, considera las distintas alternativas de
                acuerdo con los beneficios que ofrece y el presupuesto disponible (de este modo, es conveniente el uso
                de publicaciones en páginas web y de catálogos)
                <br>
                Fase de Compra: trata sobre la decisión final de adquirir el producto y designa los puntos de venta.
                (proporcionar información relevante que le permita saber dónde y cómo comprar, así como también ofrecer
                diversos canales de pago.)
                <br>
                Fase de Entrega: el comprador recibe el producto o servicio (debemos pensar en la mejor forma de
                entregar nuestra propuesta de valor utilizando los canales adecuados para cumplir con los tiempos de
                entrega y otros requerimientos propios de cada segmento de clientes)
                <br>
                Fase de Postventa: el cliente obtiene atención personalizada en referencia al producto o servicio
                comprado después de haberlo recibido (Encuesta pequeña de satisfacción y seguimiento del producto.)




        </div>


        <div>
            <form action="">
                <div style="flex-basis: 100%;" class="mt-3">
                    <div class="form-group">
                        <label for="">Informacion: </label>
                        <textarea [(ngModel)]="channels.informacion" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Evaluacion: </label>
                        <textarea [(ngModel)]="channels.evaluacion" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Compra: </label>
                        <textarea [(ngModel)]="channels.compra" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Entrega: </label>
                        <textarea [(ngModel)]="channels.entrega" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Postventa: </label>
                        <textarea [(ngModel)]="channels.postVenta" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"
                            placeholder=""></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group mt-3">
            <button [routerLink]="['/procesos']" (click)="guardar()" class="btn">Guardar</button>
            <button [routerLink]="['/relaciones/cliente/', cliente.id]" (click)="guardar()" class="btn">Guardar y
                Continuar</button>
            <button [routerLink]="['/procesos']" (click)="cerrarModalAsesoria()" class="btn">Cancelar</button>
        </div>
    </div>

</div>
