<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Presupuesto de Compras</h4>
        <div class="centered-col">
            <h5 class="centered-heading">Consumo Materia Prima por Producto</h5>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Operativo</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of elementos">
                                        <td><input type="text" ></td> 
                                        <td><input type="text" ></td> 
                                        <td class="autorellenadas">$</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th >Subtotal</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas" >Vacaciones</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <th >Total</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Administrativo</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of elementos1">
                                        <td><input type="text" ></td> 
                                        <td><input type="text" ></td> 
                                        <td class="autorellenadas">$</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila1()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th >Subtotal</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas" >Vacaciones</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <th >Total</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Comercial y Ventas</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of elementos2">
                                        <td><input type="text" ></td> 
                                        <td><input type="text" ></td> 
                                        <td class="autorellenadas">$</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila2()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th >Subtotal</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas" >Vacaciones</td>
                                        <td class="autorellenadas">$ </td>
                                        <td class="autorellenadas">$ </td>
                                    </tr>
                                    <tr>
                                        <th >Total</th>
                                        <th>$ </th>
                                        <th>$ </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="centered-col">
                <h5 class="centered-heading">Unidades a Producir</h5>
            </div>
            <div class="col centered-col">
                <div class="table-container">
                    <table class="excel-table">
                        <thead style="text-align: center;font-size: small;">
                            <tr>
                                <th>Parafiscales y Prestaciones Sociales</th>
                                <th>Tasa</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;font-size: small;">
                            <tr>
                                <td class="autorellenadas">Parafiscales</td>
                                <td class="autorellenadas">4,00% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Seguridad Social</td>
                                <td class="autorellenadas">20,50% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Cesantías</td>
                                <td class="autorellenadas">8,33% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Interes sobre Censatías</td>
                                <td class="autorellenadas">0,12% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Prima de Servicios</td>
                                <td class="autorellenadas">8,33% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas" >Vacaciones</td>
                                <td class="autorellenadas">4,17% </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th>45,45%</th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col">
                <div style="text-align: center; margin-top: 10px;">
                    <h4>INCREMENTO EN % DEL PRECIO</h4>
                </div>
                <div class="col centered-col">
                    <div class="table-container">
                        <table class="excel-table">
                            <thead style="text-align: center;font-size: small;">
                                <tr>
                                    <th>Periodo</th>
                                    <th>IPC/ Inflación %</th>
                                    <th>Base + IPC</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;font-size: small;">
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 2</td>
                                    <td style="width: 5%;"><input type="text"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;"> AÑO 3</td>
                                    <td style="width: 5%;"><input type="text"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 4</td>
                                    <td style="width: 5%;"><input type="text"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 5</td>
                                    <td style="width: 5%;"><input type="text"></td>
                                    <td class="autorellenadas" style="width: 13%;"></td>
                                </tr>
        
                            </tbody>
        
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            
        </div>
    </div>


</div>
