<div class="row">
    <div class="col-2" *ngIf="!idVer">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>PRESUPUESTO DE COSTOS Y GASTOS</h4>
        <div class="centered-col">
            <h5 class="centered-heading">REQUERIMIENTOS DE PERSONAL</h5>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Operativo</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="materia1.cargo"></td>
                                        <td><input type="number" step="any" [(ngModel)]="materia1.salarioMensual"></td>
                                        <td class="autorellenadas">{{materia1.salariaAnual}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of operativo?.personal">
                                        <td>{{i.cargo}}</td>
                                        <td style="text-align: right;">

                                            {{i?.salarioMensual?.toLocaleString('en-US', { style: 'currency', currency:
                                            'USD' })}}

                                        </td>
                                        <td>
                                            <div class="cell-content">
                                                <a (click)="sacarOperativo(i)" class="btn-close"></a>
                                                <span class="salaria-anual">{{i?.salariaAnual?.toLocaleString('en-US', {
                                                    style: 'currency', currency: 'USD' })}}</span>

                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">{{operativo?.subTotal?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                        <th style="text-align: right;">
                                            {{operativo?.subTotalAnual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.parafiscales?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalParafiscales?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.seguridadSocial?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalSeguridadSocial?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.cesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalCesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.interesesCesantias?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalInteresesCesantias?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.primaServicios?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalPrimaServicios?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Vacaciones</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.vacaciones?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">
                                            {{operativo?.totalVacaciones?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th style="text-align: right;">
                                            {{operativo?.totalMensual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                        <th style="text-align: right;"> {{operativo?.totalAnual?.toLocaleString('en-US',
                                            { style: 'currency', currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Administrativo</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="materia2.cargo"></td>
                                        <td><input type="number" step="any" [(ngModel)]="materia2.salarioMensual"></td>
                                        <td class="autorellenadas">{{materia2.salariaAnual}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila1()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of administrativo.personal">
                                        <td>{{i.cargo}}</td>
                                        <td style="text-align: right;">
                                            {{i?.salarioMensual?.toLocaleString('en-US', { style: 'currency', currency:
                                            'USD' })}}</td>
                                        <td>
                                            <div class="cell-content">
                                                <a (click)="sacarAdministrativo(i)" class="btn-close "></a>
                                                <span class="salaria-anual"> {{i?.salariaAnual?.toLocaleString('en-US',
                                                    { style: 'currency', currency: 'USD' })}}</span>
                                            </div>


                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">
                                            {{administrativo?.subTotal?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                        <th style="text-align: right;">
                                            {{administrativo?.subTotalAnual?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalParafiscales?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalParafiscales?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.seguridadSocial?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalSeguridadSocial?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.cesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalCesantias?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.interesesCesantias?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalInteresesCesantias?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.primaServicios?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalPrimaServicios?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Vacaciones</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.vacaciones?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">$
                                            {{administrativo?.totalVacaciones?.toLocaleString('en-US', { style:
                                            'currency', currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th style="text-align: right;">
                                            {{administrativo?.totalMensual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                        <th style="text-align: right;">
                                            {{administrativo?.totalAnual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Personal Comercial y Ventas</th>
                                    </tr>
                                    <tr>
                                        <th>Cargo</th>
                                        <th>Salario Mensual $</th>
                                        <th>Salario Año 1</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="materia3.cargo"></td>
                                        <td><input type="number" step="any" [(ngModel)]="materia3.salarioMensual"></td>
                                        <td class="autorellenadas">{{materia3.salariaAnual}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarFila2()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of ventas.personal">
                                        <td>{{i.cargo}}</td>
                                        <td style="text-align: right;">{{i?.salarioMensual?.toLocaleString('en-US',
                                            { style: 'currency', currency: 'USD' })}}</td>
                                        <td>
                                            <div class="cell-content">
                                                <a (click)="sacarVentas(i)" class="btn-close "></a>
                                                <span class="salaria-anual">
                                                    {{i?.salariaAnual?.toLocaleString('en-US',
                                                    { style: 'currency', currency: 'USD' })}}
                                                </span>
                                            </div>
                                            
                                        </td>
                                        
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">{{ventas?.subTotal?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                        <th style="text-align: right;">{{ventas?.subTotalAnual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Parafiscales</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.parafiscales?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalParafiscales?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Seguridad Social</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.seguridadSocial?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalSeguridadSocial?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Cesantías</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.cesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalCesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Interes sobre Censatías</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.interesesCesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalInteresesCesantias?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Prima de Servicios</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.primaServicios?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalPrimaServicios?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <td class="autorellenadas">Vacaciones</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.vacaciones?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                        <td class="autorellenadas" style="text-align: right;">{{ventas?.totalVacaciones?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th style="text-align: right;">{{ventas?.totalMensual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                        <th style="text-align: right;">{{ventas?.totalAnual?.toLocaleString('en-US', { style: 'currency',
                                            currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="centered-col">
                <h5 class="centered-heading"></h5>
            </div>
            <div class="col centered-col">
                <div class="table-container">
                    <table class="excel-table">
                        <thead style="text-align: center;font-size: small;">
                            <tr>
                                <th>Parafiscales y Prestaciones Sociales</th>
                                <th>Tasa</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;font-size: small;">
                            <tr>
                                <td class="autorellenadas">Parafiscales</td>
                                <td class="autorellenadas" style="text-align: right;">4,00% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Seguridad Social</td>
                                <td class="autorellenadas" style="text-align: right;">20,50% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Cesantías</td>
                                <td class="autorellenadas" style="text-align: right;">8,33% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Interes sobre Censatías</td>
                                <td class="autorellenadas" style="text-align: right;">0,12% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Prima de Servicios</td>
                                <td class="autorellenadas" style="text-align: right;">8,33% </td>
                            </tr>
                            <tr>
                                <td class="autorellenadas">Vacaciones</td>
                                <td class="autorellenadas" style="text-align: right;">4,17% </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th style="text-align: right;">45,45%</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col">
                <div style="text-align: center; margin-top: 10px;">
                    <h6>INCREMENTO EN % DEL PRECIO</h6>
                </div>
                <div class="col centered-col">
                    <div class="table-container">
                        <table class="excel-table">
                            <thead style="text-align: center;font-size: small;">
                                <tr>
                                    <th>Periodo</th>
                                    <th>IPC/ Inflación %</th>
                                    <th>Base + IPC</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;font-size: small;">
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 2</td>
                                    <td class="autorellenadas" style="width: 5%;">
                                        {{proceso?.businessPlanFinancial?.ipc1}}%</td>
                                    <td class="autorellenadas" style="width: 13%;">
                                        {{proceso?.businessPlanFinancial?.ipc1+100}}%</td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;"> AÑO 3</td>
                                    <td class="autorellenadas" style="width: 5%;">
                                        {{proceso?.businessPlanFinancial?.ipc2}}%</td>
                                    <td class="autorellenadas" style="width: 13%;">
                                        {{proceso?.businessPlanFinancial?.ipc2+100}}%</td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 4</td>
                                    <td class="autorellenadas" style="width: 5%;">
                                        {{proceso?.businessPlanFinancial?.ipc3}}%</td>
                                    <td class="autorellenadas" style="width: 13%;">
                                        {{proceso?.businessPlanFinancial?.ipc3+100}}%</td>
                                </tr>
                                <tr>
                                    <td class="autorellenadas" style="width: 8%;">AÑO 5</td>
                                    <td class="autorellenadas" style="width: 5%;">
                                        {{proceso?.businessPlanFinancial?.ipc3}}%</td>
                                    <td class="autorellenadas" style="width: 13%;">
                                        {{proceso?.businessPlanFinancial?.ipc3+100}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="centered-col mt-2">
                <h5 class="centered-heading">OTROS COSTOS DE PRODUCCION Y GASTOS DE ADMINISTRACIÓN Y VENTAS</h5>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Costos Operativos</th>
                                    </tr>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Mensual $</th>
                                        <th>Año 1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="operativos.concepto"></td>
                                        <td><input type="number" step="any" [(ngModel)]="operativos.gastoMensual"></td>
                                        <td class="autorellenadas">{{operativos.gastoAnual}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarCostoOperativo()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of operativo.costos">
                                        <td>{{i.concepto}}</td>
                                        <td style="text-align: right;">{{i?.gastoMensual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</td>
                                        <td>
                                            <div class="cell-content">
                                                <a (click)="sacarOperativoCostos(i)" class="btn-close "></a>
                                                <span class="salaria-anual">{{i?.gastoAnual?.toLocaleString('en-US', {
                                                    style: 'currency', currency: 'USD' })}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">{{operativo?.totalCostoMensual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                        <th style="text-align: right;">{{operativo?.totalCostoAnual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Gastos Administrativos</th>
                                    </tr>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Mensual $</th>
                                        <th>Año 1</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="administrativos.concepto"></td>
                                        <td><input type="number" step="any" [(ngModel)]="administrativos.gastoMensual">
                                        </td>
                                        <td class="autorellenadas">{{administrativos.gastoAnual}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarGastoAdministrativo()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of administrativo?.costos">
                                        <td>{{i?.concepto}}</td>
                                        <td style="text-align: right;">{{i.gastoMensual.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</td>
                                        <td class="cell-content">
                                            <a (click)="sacarAdministrativoCostos(i)" class="btn-close "></a>
                                            <span class="salaria-anual">
                                                {{i.gastoAnual?.toLocaleString('en-US', {
                                                    style: 'currency', currency: 'USD' })}}
                                            </span>
                                            
                                        </td>
                                        
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">{{administrativo?.totalCostoMensual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                        <th style="text-align: right;">{{administrativo?.totalCostoAnual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="centered-col">
                    <div class="col">
                        <div style="margin-bottom: 20px;" class="col">
                            <table class="excel-table" style="font-size: small;">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th colspan="3">Gastos de Ventas</th>
                                    </tr>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Mensual $</th>
                                        <th>Año 1</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" [(ngModel)]="ventasL.concepto"></td>
                                        <td><input type="number" step="any" [(ngModel)]="ventasL.gastoMensual"></td>
                                        <td class="autorellenadas">{{ventasL.gastoAnual}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="3" class="add-row"><a (click)="agregarGastoVenta()"
                                                class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let i of ventas.costos">
                                        <td>{{i.concepto}}</td>
                                        <td style="text-align: right;">{{i?.gastoMensual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</td>
                                        <td class="cell-content">
                                            <a (click)="sacarVentaCostos(i)" class="btn-close "></a>
                                            <span class="salaria-anual">
                                                {{i?.gastoAnual?.toLocaleString('en-US', {
                                                    style: 'currency', currency: 'USD' })}}
                                            </span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th style="text-align: right;">{{ventas?.totalCostoMensual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                        <th style="text-align: right;">{{ventas?.totalCostoAnual?.toLocaleString('en-US', {
                                            style: 'currency', currency: 'USD' })}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group mt-3" *ngIf="!idVer">
            <button *ngIf="!idEditar" (click)="guardarYsalir()" class="btn">Guardar</button>
            <button *ngIf="!idEditar" (click)="guardar()" class="btn">Guardar y Continuar</button>
            <button *ngIf="idEditar" (click)="editarYsalir()" class="btn">Editar</button>
            <button *ngIf="idEditar" (click)="editar()" class="btn">Editar y Continuar</button>
            <button [routerLink]="['/procesos']"  class="btn">Cancelar</button>
            <button [routerLink]="['/compras/cliente/',cliente.id,'editar', proceso?.id]" class="btn">Volver</button>
        </div>
        <div class="form-group mt-3" *ngIf="idVer">
          
           
            <button  (click)="editar()" class="btn">Editar</button>
           
        </div>
    </div>

</div>