<div class="row">
    <div class="col-2" *ngIf="!idVer">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>PLAN DE INVERSIÓN</h4>
        <div class="centered-col">
            <h5 class="centered-heading">PLAN DE INVERSIÓN Y FINANCIACIÓN</h5>
        </div>
        <div class="centered-col">
        <div class="col-8">
                <div class="col">
                    <div style="margin-bottom: 20px;" class="col">
                        <table class="excel-table" style="font-size: small;">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>Activos Fijos</th>
                                    <th>Aportes de Rescursos Porpios</th>
                                    <th>Inversión requerida</th>
                                    <th>Crédito Requerido</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td><input type="text" [(ngModel)]="activoFijo.tipo"></td>
                                <td><input type="number" step="any" [(ngModel)]="activoFijo.aportesPropios"></td>
                                <td><input type="number" step="any" [(ngModel)]="activoFijo.inversionRequerida"></td>
                                <td class="autorellenadas">{{activoFijo.creditoRequerido}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="add-row"><a (click)="agregarActivo()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngFor="let i of planDeInversion.activoFijo">
                                <td>{{i.tipo}}</td>
                                <td style="text-align: right;">{{i.aportesPropios?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                                <td style="text-align: right;">{{i.inversionRequerida?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                                <td>
                                    <div class="cell-content">
                                        <a (click)="eliminarActivo(i)" class="btn-close "></a>
                                        <span class="salaria-anual">
                                            {{i?.creditoRequerido?.toLocaleString('en-US', {
                                                style: 'currency', currency: 'USD' })}}
                                        </span>
                                    </div>
                                    </td>
                                
                            </tr>
                                    <th colspan="4">Maquinaria y Equipamiento</th>

                                    <tr >
                                      <td><input type="text" [(ngModel)]="maquinaria.tipo"></td>
                                      <td><input type="number" step="any" [(ngModel)]="maquinaria.aportesPropios"></td>
                                      <td><input type="number" step="any" [(ngModel)]="maquinaria.inversionRequerida"></td>
                                      <td class="autorellenadas">{{activoFijo.creditoRequerido}}</td>
                                  </tr>
                                  <tr>
                                      <td colspan="4" class="add-row"><a (click)="agregarMaquinaria()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                      </td>
                                  </tr>
                                  <tr *ngFor="let i of planDeInversion.maquinariaEquipo">
                                      <td>{{i.tipo}}</td>
                                      <td style="text-align: right;">{{i.aportesPropios?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</td>
                                      <td style="text-align: right;">{{i.inversionRequerida?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</td>
                                      <td >
                                        <div class="cell-content">
                                            <a (click)="eliminarMaquinaria(i)" class="btn-close "></a>
                                            <span class="salaria-anual">
                                                {{i.creditoRequerido?.toLocaleString('en-US', {
                                                    style: 'currency', currency: 'USD' })}}
                                            </span>
                                        </div>
                                        
                                        </td>
                                      
                                  </tr>
                                <tr>
                                    <th>Total Maquinaria</th>
                                    <th style="text-align: right;">{{planDeInversion.maquinariaPropio?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.maquinariaInversion?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.maquinariaCredito?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                </tr>
                                <tr>
                                    <th colspan="4">Muebles y Enseres</th>
                                </tr>
                                <tr >
                                  <td><input type="text" [(ngModel)]="mueble.tipo"></td>
                                  <td><input type="number" step="any" [(ngModel)]="mueble.aportesPropios"></td>
                                  <td><input type="number" step="any" [(ngModel)]="mueble.inversionRequerida"></td>
                                  <td class="autorellenadas">{{mueble.creditoRequerido?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                              </tr>
                              <tr>
                                  <td colspan="4" class="add-row"><a (click)="agregarMuebles()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                  </td>
                              </tr>
                              <tr *ngFor="let i of planDeInversion.mueblesEnseres">
                                  <td>{{i.tipo}}</td>
                                  <td style="text-align: right;">{{i.aportesPropios?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                                  <td style="text-align: right;">{{i.inversionRequerida?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                                  <td>
                                    <div class="cell-content">
                                        <a (click)="eliminarMueble(i)" class="btn-close "></a>
                                        <span class="salaria-anual">
                                            {{i.creditoRequerido?.toLocaleString('en-US', {
                                                style: 'currency', currency: 'USD' })}}
                                        </span>
                                    </div>
                                    
                                    </td>
                                  
                              </tr>
                                <tr>
                                    <th>Total Muebles y Enseres</th>
                                    <th style="text-align: right;">{{planDeInversion.mueblesPropio?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.mueblesInversion?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.muebleCredito?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                </tr>
                                <tr>
                                    <th colspan="4">Vehículos</th>
                                </tr>
                                <tr >
                                  <td><input type="text" [(ngModel)]="vehiculo.tipo"></td>
                                  <td><input type="number" step="any" [(ngModel)]="vehiculo.aportesPropios"></td>
                                  <td><input type="number" step="any" [(ngModel)]="vehiculo.inversionRequerida"></td>
                                  <td class="autorellenadas">{{vehiculo.creditoRequerido?.toLocaleString('en-US', {
                                    style: 'currency', currency: 'USD' })}}</td>
                              </tr>
                              <tr>
                                  <td colspan="4" class="add-row"><a (click)="agregarVehiculos()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                  </td>
                              </tr>
                              <tr *ngFor="let i of planDeInversion.vehiculos">
                                  <td>{{i.tipo}}</td>
                                  <td>{{i.aportesPropios}}</td>
                                  <td>{{i.inversionRequerida}}</td>
                                  <td>
                                    <div class="cell-content">
                                        <a (click)="eliminarVehiculo(i)" class="btn-close "></a>
                                        <span class="salaria-anual">
                                            {{i.creditoRequerido?.toLocaleString('en-US', {
                                                style: 'currency', currency: 'USD' })}}
                                        </span>

                                    </div>
                                    </td>
                                 
                              </tr>
                                <tr>
                                    <th>Total Vehiculos</th>
                                    <th style="text-align: right;">{{planDeInversion.vehiculosPropio?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.vehiculosInversion?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.vehiculosCredito?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th >Total Inversión Fija</th>
                                    <th style="text-align: right;">{{planDeInversion.totalPropio?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.totalInversion?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                    <th style="text-align: right;">{{planDeInversion.totalCredito?.toLocaleString('en-US', {
                                        style: 'currency', currency: 'USD' })}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3" *ngIf="!idVer">
          <button (click)="guardarYsalir()"  class="btn">{{planDeInversion.id?'Editar':'Guardar'}}</button>
          <button (click)="guardar()" class="btn">{{planDeInversion.id?'Editar y continuar':'Guardar y Finalizar'}}</button>
          <button [routerLink]="['/procesos']"  class="btn">Cancelar</button>
          <button [routerLink]="['/gastos/cliente/',cliente.id,'editar', proceso?.id]"  class="btn">Volver</button>
        </div>
        <div class="form-group mt-3" *ngIf="idVer">
            <button (click)="guardarYsalir()"  class="btn">{{planDeInversion.id?'Editar':'Guardar'}}</button>
          
          </div>
    </div>
</div>
