<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Plan de Inversión</h4>
        <div class="centered-col">
            <h5 class="centered-heading">Plan de Inversión y Financiación</h5>
        </div>
        <div class="centered-col">
        <div class="col-8">
                <div class="col">
                    <div style="margin-bottom: 20px;" class="col">
                        <table class="excel-table" style="font-size: small;">
                            <thead style="text-align: center;">
                                <tr>
                                    <th>Activos Fijos</th>
                                    <th>Aportes de Rescursos Porpios</th>
                                    <th>Inversión requerida</th>
                                    <th>Crédito Requerido</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td><input type="text" [(ngModel)]="activoFijo.tipo"></td>
                                <td><input type="number" step="any" [(ngModel)]="activoFijo.aportesPropios"></td>
                                <td><input type="number" step="any" [(ngModel)]="activoFijo.inversionRequerida"></td>
                                <td class="autorellenadas">{{activoFijo.creditoRequerido}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="add-row"><a (click)="agregarActivo()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr *ngFor="let i of planDeInversion.activoFijo">
                                <td>{{i.tipo}}</td>
                                <td>{{i.aportesPropios}}</td>
                                <td>{{i.inversionRequerida}}</td>
                                <td>{{i.creditoRequerido}}</td>
                                <td><button (click)="eliminarActivo(i)" class="btn-close "></button></td>
                            </tr>
                                    <th colspan="4">Maquinaria y Equipamiento</th>

                                    <tr >
                                      <td><input type="text" [(ngModel)]="maquinaria.tipo"></td>
                                      <td><input type="number" step="any" [(ngModel)]="maquinaria.aportesPropios"></td>
                                      <td><input type="number" step="any" [(ngModel)]="maquinaria.inversionRequerida"></td>
                                      <td class="autorellenadas">{{activoFijo.creditoRequerido}}</td>
                                  </tr>
                                  <tr>
                                      <td colspan="4" class="add-row"><a (click)="agregarMaquinaria()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                      </td>
                                  </tr>
                                  <tr *ngFor="let i of planDeInversion.maquinariaEquipo">
                                      <td>{{i.tipo}}</td>
                                      <td>{{i.aportesPropios}}</td>
                                      <td>{{i.inversionRequerida}}</td>
                                      <td>{{i.creditoRequerido}}</td>
                                      <td><button (click)="eliminarMaquinaria(i)" class="btn-close "></button></td>
                                  </tr>
                                <tr>
                                    <th>Total Maquinaria</th>
                                    <th>${{planDeInversion.maquinariaPropio}}</th>
                                    <th>${{planDeInversion.maquinariaInversion}}</th>
                                    <th>${{planDeInversion.maquinariaCredito}}</th>
                                </tr>
                                <tr>
                                    <th colspan="4">Muebles y Enseres</th>
                                </tr>
                                <tr >
                                  <td><input type="text" [(ngModel)]="mueble.tipo"></td>
                                  <td><input type="number" step="any" [(ngModel)]="mueble.aportesPropios"></td>
                                  <td><input type="number" step="any" [(ngModel)]="mueble.inversionRequerida"></td>
                                  <td class="autorellenadas">{{mueble.creditoRequerido}}</td>
                              </tr>
                              <tr>
                                  <td colspan="4" class="add-row"><a (click)="agregarMuebles()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                  </td>
                              </tr>
                              <tr *ngFor="let i of planDeInversion.mueblesEnseres">
                                  <td>{{i.tipo}}</td>
                                  <td>{{i.aportesPropios}}</td>
                                  <td>{{i.inversionRequerida}}</td>
                                  <td>{{i.creditoRequerido}}</td>
                                  <td><button (click)="eliminarMueble(i)" class="btn-close "></button></td>
                              </tr>
                                <tr>
                                    <th>Total Muebles y Enseres</th>
                                    <th>${{planDeInversion.mueblesPropio}}</th>
                                    <th>${{planDeInversion.mueblesInversion}}</th>
                                    <th>${{planDeInversion.muebleCredito}}</th>
                                </tr>
                                <tr>
                                    <th colspan="4">Vehículos</th>
                                </tr>
                                <tr >
                                  <td><input type="text" [(ngModel)]="vehiculo.tipo"></td>
                                  <td><input type="number" step="any" [(ngModel)]="vehiculo.aportesPropios"></td>
                                  <td><input type="number" step="any" [(ngModel)]="vehiculo.inversionRequerida"></td>
                                  <td class="autorellenadas">{{vehiculo.creditoRequerido}}</td>
                              </tr>
                              <tr>
                                  <td colspan="4" class="add-row"><a (click)="agregarVehiculos()"  class="btn mt-2">Agregar <i class="fa-solid fa-plus"></i></a>
                                  </td>
                              </tr>
                              <tr *ngFor="let i of planDeInversion.vehiculos">
                                  <td>{{i.tipo}}</td>
                                  <td>{{i.aportesPropios}}</td>
                                  <td>{{i.inversionRequerida}}</td>
                                  <td>{{i.creditoRequerido}}</td>
                                  <td><button (click)="eliminarVehiculo(i)" class="btn-close "></button></td>
                              </tr>
                                <tr>
                                    <th>Total Vehiculos</th>
                                    <th>${{planDeInversion.vehiculosPropio}}</th>
                                    <th>${{planDeInversion.vehiculosInversion}}</th>
                                    <th>${{planDeInversion.vehiculosCredito}}</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th >Total Inversión Fija</th>
                                    <th>${{planDeInversion.totalPropio}}</th>
                                    <th>${{planDeInversion.totalInversion}}</th>
                                    <th>${{planDeInversion.totalCredito}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
          <button (click)="guardarYsalir()"  class="btn">{{planDeInversion.id?'Editar':'Guardar'}}</button>
          <button (click)="guardar()" class="btn">{{planDeInversion.id?'Editar y continuar':'Guardar y Finalizar'}}</button>
          <button [routerLink]="['/procesos']"  class="btn">Cancelar</button>
          <button [routerLink]="['/gastos/cliente/',cliente.id,'editar', proceso?.id]"  class="btn">Volver</button>
        </div>
    </div>
</div>
