<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h4>Segmento de Clientes</h4>
        <a (click)="cambiarCondicion()" class="btn" style="color: rgb(9, 13, 219);"><i class="fa-solid fa-plus"></i> Ver guía de Recomendaciones</a>
        <div *ngIf="value" class="" style="background-color: rgb(174, 176, 179); border-radius: 1em; padding: 10px;">
            <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.5">
                Detalle quién va a ser su cliente potencial, su público objetivo.
                <br>
                ¿Quiénes son las personas que van a verse beneficiadas con su producto/servicio?
                <br>
                Describa su público objetivo con base en variables demográficas, geográficas, psicográficas y de
                comportamiento:
                </p>
            <p style="margin-bottom: 10px; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.5">
                <li>Demográficas: se toman en cuenta aspectos como los grupos de edades, el tamaño familiar, la cultura,
                    género, profesión, nivel educativo y los ingresos familiares.</li>
                <li>Geográficas: lugar en donde se encuentran los diferentes clientes (país, departamento, ciudad,
                    variables como: el clima, la estacionalidad)</li>
                <li>Psicográficas: aquí se identifican los sueños, anhelos, objetivos, personalidad, estilo de vida,
                    motivaciones, actividades de ocio y valores.</li>
                <li>Comportamiento: valora el comportamiento del usuario, analizando elementos como los patrones de uso,
                    sensibilidad al precio, temas de interés, cómo la persona interactúa con Internet y las plataformas
                    sociales y digitales.</li>
            </p>

        </div>
        <div>
            <form action="">
                <div style="flex-basis: 100%;" class="mt-3">
                    <div class="form-group">
                        <label for="">Demograficas: </label>
                        <textarea [(ngModel)]="customerSegments.demograficas" class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks1"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Geograficas: </label>
                        <textarea [(ngModel)]="customerSegments.geograficas" class="form-control" id="exampleFormControlTextarea2" rows="3" name="remarks2"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Psicograficas: </label>
                        <textarea [(ngModel)]="customerSegments.psicograficas" class="form-control" id="exampleFormControlTextarea3" rows="3" name="remarks3"
                            placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Comportamiento: </label>
                        <textarea [(ngModel)]="customerSegments.comportanmiento" class="form-control" id="exampleFormControlTextarea4" rows="3" name="remarks4"
                            placeholder=""></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group mt-3" >

          <button *ngIf="customerSegments.id" (click)="editarYsalir()" class="btn">Editar</button>

          <button *ngIf="customerSegments.id" (click)="editar()" class="btn">Editar y
              Continuar</button>
            <button *ngIf="!customerSegments.id" (click)="guardarYsalir()" class="btn">Guardar</button>

            <button *ngIf="!customerSegments.id" (click)="guardar()" class="btn">Guardar y
                Continuar</button>
            <button [routerLink]="['/procesos']" (click)="cerrarModalAsesoria()"
                class="btn">Cancelar</button>
        </div>
    </div>

</div>
