<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <h2 class="btn btn-disabled">Plan de Áccion</h2>
        <div class="col-11">
            <form action="">
                <table class="table table-bordered" style="border: solid 1px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;" rowspan="2">Área a Intervenir</th>
                            <th style="width: 10%;" rowspan="2">Objetivo Estratégico</th>
                            <th style="width: 10%;" rowspan="2">Actividad Estratégica</th>
                            <th style="width: 10%;" rowspan="2">Responsable</th>
                            <th style="width: 10%;" rowspan="2">Aliados Estratégicos</th>
                            <th style="width: 10%;" colspan="4" rowspan="1">Seguimiento</th>
                        </tr>
                        <tr>
                            <th style="width: 10%;"  rowspan="1">Fecha Inicio</th>
                            <th style="width: 10%;"  rowspan="1">Fecha de Cierre</th>
                            <th style="width: 10%;"  rowspan="1">Cumplimiento</th>
                            <th style="width: 10%;"  rowspan="1">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 10%;">Lineamientos Básicos Estratégicos</td>
                            <td style="width: 10%;"><textarea name="a1" id="a1" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a2" id="a2" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a3" id="a3" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a4" id="a4" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            
                        </tr>
                        <tr>
                            <td style="width: 10%;">Mercadeo y Ventas</td>
                            <td style="width: 10%;"><textarea name="a1" id="a1" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a2" id="a2" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a3" id="a3" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a4" id="a4" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            
                        </tr>
                        <tr>
                            <td style="width: 10%;">Producción y Operaciones</td>
                            <td style="width: 10%;"><textarea name="a1" id="a1" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a2" id="a2" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a3" id="a3" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a4" id="a4" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            
                        </tr>
                        <tr>
                            <td style="width: 10%;">Talento Humano</td>
                            <td style="width: 10%;"><textarea name="a1" id="a1" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a2" id="a2" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a3" id="a3" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a4" id="a4" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            <td style="width: 10%;"><textarea name="a5" id="a5" class="form-control" ></textarea></td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
