<div class="row">
    <div class="col-2">
        <app-client-details></app-client-details>
    </div>
    <div class="col-10">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-disabled" style="background-color: red; color: white;width: 100%;">
                        Perfil
                      </button>
                </div>
                <div class="card-body">
                    <div style="margin: 10px;" >
                        <button  *ngIf="proceso?.selfAssessment===null" style="background-color: rgb(213, 218, 215); color: white;width: 80%;" class="btn btn-disabled" >
                            <span class="left-align">AUTOEVALUACIÓN</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                          <button  *ngIf="proceso?.selfAssessment!==null" style="background-color: rgb(34, 197, 89); color: white;width: 80%;" class="btn btn-disabled" >
                            <span class="left-align">AUTOEVALUACIÓN</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button *ngIf="proceso?.canvasModel===null" class="btn btn-disabled" style="background-color: rgb(213, 218, 215); color: white;width: 80%;">
                            <span class="left-align">MODELO CANVAS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button *ngIf="proceso?.canvasModel?.costStructure===null" class="btn btn-disabled" style="background-color: rgb(58, 144, 224); color: white;width: 80%;">
                            <span class="left-align">MODELO CANVAS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button *ngIf="proceso?.canvasModel?.costStructure!==null" class="btn btn-disabled" style="background-color: rgb(34, 197, 89); color: white;width: 80%;">
                            <span class="left-align">MODELO CANVAS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button *ngIf="proceso?.businessPlan===null" class="btn btn-disabled" style="background-color: rgb(213, 218, 215); color: white;width: 80%;">
                            <span class="left-align">PLAN DE NEGOCIOS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                          <button *ngIf="proceso?.businessPlan?.conclusion===null && proceso?.businessPlan!==null" class="btn btn-disabled" style="background-color: rgb(58, 144, 224); color: white;width: 80%;">
                            <span class="left-align">PLAN DE NEGOCIOS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                          <button *ngIf="proceso?.businessPlan?.conclusion!==null" class="btn btn-disabled" style="background-color: rgb(34, 197, 89); color: white;width: 80%;">
                            <span class="left-align">PLAN DE NEGOCIOS</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button class="btn btn-disabled" style="background-color: rgb(213, 218, 215); color: white;width: 80%;">
                            <span class="left-align">PLAN DE NEGOCIOS FINANCIERO</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                    <div style="margin: 10px;">
                        <button class="btn btn-disabled" style="background-color: rgb(213, 218, 215); color: white;width: 80%;">
                            <span class="left-align">ACTA DE CIERRE</span><i class="fa-solid fa-pen-to-square right-align" type="button"></i>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>