<div class="abrir-modal animacion fadeIn ">
  <div class="modal" tabindex="-1" style="display:block; margin-left: -200px;">
    <div class="modal-dialog" style="width:850px;  " role="document">
      <div class="modal-content" style="width:850px; ">
        <div class="modal-header" style="width:850px;">
          <h5 class="modal-title">Registro de Clientes</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body" style="width:850px;">
          <div class="col">
            <div class="form-check form-check-inline">
              <input (click)="cambiarForm($event)" class="form-check-input" [(ngModel)]="emprendedor" type="radio"
                id="inlineRadio1" value="true">
              <label class="form-check-label" for="inlineRadio1">Emprendedor</label>
            </div>
            <div class="form-check form-check-inline">
              <input (click)="cambiarForm($event)" class="form-check-input" [(ngModel)]="empresario" type="radio"
                id="inlineRadio2" value="false">
              <label class="form-check-label" for="inlineRadio2">Empresario</label>
            </div>
            <app-form-client *ngIf='empresario '></app-form-client>
            <app-form-entrepreneur *ngIf='emprendedor && !empresario'></app-form-entrepreneur>
          </div>
        </div>
      </div>
    </div>
  </div>