<nav *ngIf="authService.isLogin()" class="navbar navbar-expand" >
    <div class="flex-grow-1" id="arr" >
      <div class="col" >
        <div class="row">
          <div class="col-7">
            <input (keyup)="setLlenar()"  [(ngModel)]="termino" type="text" class="form-control" placeholder="Buscar" >
          </div>
          <div class="col-2 text-end">
            <button class="btn" style="background-color: red;color: white; border-radius: 1em;"
              (click)="abrirModalAsesoria()">Iniciar Asesoría</button>
          </div>
          <div class="col-1 text-end">
            <a href="#" class="btn" style="background-color: #faf8f8;">
              <i class="fa-regular fa-bell"></i>
            </a>
          </div>
          <div class="col-2 text-end">
            <button   class="btn" type="button" style="background-color: #faf8f8; width: 100%;">
             {{authService.nameUsuario()}}
            </button>
          </div>
        </div>
      </div>


    </div>

  </nav>
